.music {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 748px;
  border-top: 1px solid #E1E5EB;
  border-bottom: 1px solid #E1E5EB;
  padding: 23px 50px;
  margin-left: 79px;
}

.music img {
  width: 61px;
  height: 61px;
  clip-path: circle(50% at 50% 50%);
}

.music p {
  width: 200px;
}