.page-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.form-and-image {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.page-login img {
  height: 158px;
  margin: 110px auto 104px;
  width: 208px;
}

.page-login form {
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column wrap;
  height: 314px;
  justify-content: center;
  margin: auto;
  width: 35%;
}

.page-login form .button-input {
  display: flex;
  flex-flow: column wrap;
  height: 131px;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.page-login form .button-input input, button {
  font-size: 16px;
  height: 41px;
  text-align: center;
}


.page-login form .button-input input {
  margin-bottom: 31px;
}

.page-login form .button-input button {
  background-color: #003be5;
  color: white;
}
