header {
  background-color: #023031;
  display: flex;
  flex-flow: column wrap;
  height: 178;
  width: 100%;
}

header .logo-and-user-name {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 49.3px 0 35px;
}

header .logo-and-user-name .user {
  background-color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 41.64px;
  width: 198.7px;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

header .user img {
  width: 36.44px;
  height: 36.44px;
  clip-path: circle(50% at 50% 50%);
  margin: auto 36.44px auto 4.34px;
} 
