.album-List {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 80%;
  margin: 112px auto;
}

.album-List .title-artist {
  font-weight: 300;
  font-size: 24px;
  line-height: 25px;
  color: #001813;
  margin-bottom: 40px;
}
 .album-List ol {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
 }

 .album-List ol li {
   flex: 1 0 20%;
 }